div {
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-color: black;
    border-style:solid;
}

h1 {
    height:50px;
    width:115px;
    background-color: navajowhite;
    border-width: 5px;
    border-style: dashed;
    border-color: red;

}