 /* div {
    height: 100px;
    width: 100px;
    background-color: pink;
   border:2px solid brown;
   padding-left:25px ;
    padding-right:25px;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-top: 50px;
   margin-bottom: 50px; 
    padding:25px;
   margin:25px; 
} */
 
 div {
      height: 100px;
      width: 100px;
      background-color: red;
      border-radius: 50%;
 }
