p {
    text-align: left;
    line-height: normal;
    text-transform: lowercase;
}

h1 {
    text-align: center;
    text-decoration: line-through;
}
#one {
    font-size: 24px;
}
#three {
    font-size: 10px;
}